nav.main-nav {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    z-index: 10;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 58px);
    max-width: 720px;
    border-bottom: solid black 1px;
    background-color: #f0f0e6;
    display: flex;
    justify-content: space-between;
    // filter: url(#wind-filter-sm);

    a {
        // border-radius: 120px;
        // font-weight: bold;
        text-decoration: none;
        padding: 5px;
        // filter: url(#wind-filter-sm);
    }

    .active {
        // background-color: black;
        // color: #f0f0e6;
        // font-weight: bold;
        border-bottom: solid black 1px;
        // border-bottom: none;
    }
}

.homepage nav.main-nav {
    display: none;
    // justify-content: space-around;

    a.home,
    a.works {
        // display: none;
    }

    background-color: transparent;
    // opacity: 1;

    a {
        background-color: #f0f0e6;
        // opacity: 0.9;
        border-radius: 2px;
        border: solid black 1px;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.6);
    }


    // border-bottom: none;

    //     // opacity: 0.6;
    &.open {
        display: flex;
    }
}