<div class="chop-container">
  <div class="chop-border"></div>
  <div class="chop-border inner"></div>
  <svg viewBox="0 0 400 400" width="200" height="200">
  <path id="topPath"
    d="M200,200 m-150,0 a150,150 0 1,1 300,0"
    fill="none"
    transform="rotate(11, 200, 200)"/>
  <path id="bottomPath"
    d="M200,200 m150,0 a150,150 0 1,1 -300,0"
    fill="none"
    transform="rotate(28, 200, 200)"/>
  <text>
    <textPath href="#topPath">
    REUBEN
    </textPath>
  </text>
  <text>
    <textPath href="#bottomPath">
    NOS
    </textPath>
  </text>
  </svg>
  <div class="chop"></div>
</div>

<style>
  .chop-container {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
    margin-top: 100px;
    transform: scaleX(1) rotate(43deg);
  }

  .chop-container svg {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    overflow: visible;
  }

  .chop {
    shape-outside: circle(50%);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-image: url('/public/chop-crop-alpha.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
  }

  .chop-border {
    border: solid black 4px;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .chop-border.inner {
    display: none;
    height: 55%;
    width: 55%;
  }

  .chop-container text {
    font-size: 40px !important;
    letter-spacing: 10px;
    font-weight: bold;
    font-family: monospace;
  }

  .chop-container {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
  }

  .chop-container p {
    margin: 0;
    line-height: 1.5;
  }
</style>