<div class="projects-list-container">
  <ul class="projects-list">
  {% for project in projects %}
      {% if project.selected %}
      <li class="project-item">
      <span class="project-title"><a href="{{ project.path }}">{{ project.title }}</a></span>
      <span class="project-index"><a href="{{ project.path }}">{{ loop.index }}</a></span>
      <span class="project-line"></span>
      <span class="project-tagline"><a href="{{ project.path }}">{{ project.tagline | safe }}</a></span>
      </li>
      {% endif %}
  {% endfor %}
  </ul>
</div>
