<div class="projects-list-container">
  {% set index = 0 %}
  {# <h2>Works</h2> #}
  <ul class="projects-list">
  {% for project in projects %}
    {% if project.selected %}
      {% set index = index + 1 %}
      <li class="project-item">
        <a href="{{ project.path }}">
          <span class="project-title">{{ project.title }} ({{ project.year }})</span>
          <span class="project-index">{{ index }}</span>
          <span class="project-line"></span>
          <span class="project-tagline">{{ project.tagline | safe }}</span>
        </a>
      </li>
      {% endif %}
  </ul>
  {% endfor %}
  <h3>Radio Mixes</h2>
  <ul class="projects-list">
  {% for project in projects %}
    {% if "mixes" in project.categories %}
      {% set index = index + 1 %}
      <li class="project-item">
        <a href="{{ project.path }}">
          <span class="project-title">{{ project.title }} ({{ project.year }})</span>
          <span class="project-index">{{ index }}</span>
          <span class="project-line"></span>
          <span class="project-tagline">{{ project.tagline | safe }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</div>
