<section class="table-of-contents">
  <nav>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/shop">Shop</a>
  </nav>
  <h2 class="table-of-contents-header visually-hidden"><a href="/works">Table of Contents</a></h2>
  {% include "projects-list.njk" %}
</section>