<section class="table-of-contents">
  <nav>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/shop">Shop</a>
     {# | <a href="/colophon">Colophon</a> #}
  </nav>
  <h2 class="table-of-contents-header">Table of Contents</h2>
  {% include "projects-list.njk" %}
</section>