<button class="toc-button" onclick="handleClick()"></button>

<script>
  function handleClick() {
    const content = document.querySelector('.content');
    const toc = document.querySelector('.table-of-contents');
    const tocBtn = document.querySelector('.toc-button');
    toc.classList.toggle('open');
    tocBtn.classList.toggle('open');
    content.classList.toggle('no-scroll');
  }
</script>