body {
  font-family: 'Ibarra Real Nova', monospace;
  font-weight: 400;
  background: black;
  margin: auto;
  padding: 20px;
  color: snow;
}

.poems-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1, h2 {
    display: block;
    margin: 10px 15px;
  }

  h2 {
    text-align: right;
    font-size: 14px;
    line-height: 1em;
  }

  a {
    text-decoration: none;
    color: snow;
  }

  button {
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Ibarra Real Nova', monospace;
    background: transparent;
    padding: 0;
    color: snow;
    border: none;
  }
}


nav {
  align-items: end;
  position: fixed;
  margin: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  left: 0;
  right: 0;
  height: 50px;
  overflow: hidden;

  button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex: 1;
    height: 50px;
    font-size: 18px;
    border: none;
    background: transparent;
    color: snow;
    font-weight: 100;
    padding: 15px;
    font-style: italic;
    font-family: 'Ibarra Real Nova', monospace;
  
    &:focus-visible {
      outline: none;
    }
  
    &.active {
      border-bottom: solid snow 2px;
    }
  
    &:nth-child(1) {
      text-align: left;
    }
  
    &:nth-child(2) {
      text-align: right;
    }
  
    span {
      font-style: normal;
      text-align: left;
    
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

#poems-container, .poems-introduction {
  height: 80vh;
  max-height: calc(100vh - 100px);
}

.poems-introduction {
  align-items: center;
  font-size: 18px;
  width: 360px;
  max-width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  /* height: 80vh; */
  flex-direction: column;
  justify-content: center;
  text-align: justify;

  img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: calc(100% - 140px);
    filter: hue-rotate(180deg) brightness(0.7) contrast(1.2);
    flex-shrink: 1;
  }

  .poems-introduction-text {
    margin-top: 20px;
    width: 100%;

    span {
      padding: 0 80px;
    }
  }
}

body.now-viewing {
  .poems-introduction {
    display: none;
  }
}

#poems-container {
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  width: 80vw;
  /* height: 80vh; */
  max-width: 1200px;
  max-height: 800px;
}

button:hover {
  cursor: pointer;
}

#part-1 {
  /* background: black; */
  display: flex;
  width: 100%;
  /* width: 460px; */
  margin: auto;
  height: 100%;
  overflow: scroll;
  align-items: center;

  p {
    font-size: 28px;
    margin: 0 0 0 auto;
    display: inline-block;
    padding-left: 40px;
    text-align: right;
  }

  .poem {
    width: 550px;
    padding: 20px;
    max-width: calc(100% - 40px);
    display: none;
    margin-left: -20px;
    /* visibility: hidden; */
    filter: url(#wind-filter-sm);
  }
  
  .poem.active {
    display: block;
    /* visibility: visible; */
  }

  .line-break {
    display: block;
    /* line-height: 2em; */
    height: 2em;
  }
}

#part-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(0px) contrast(3) brightness(0.7);
  /* visibility: hidden; */

  .poem {
    opacity: 0;
    border: none !important;
    width: 100%;
    height: 100%;
    text-align: center !important;
  }
  
  .poem > p {
    background: black;
    line-break: anywhere;
    letter-spacing: -0.09em;
    line-height: .42em;
    font-size: 32px;
    filter: brightness(0.1);
    margin: -10px;
    text-transform: lowercase;
    box-sizing: border-box;
  }

  canvas {
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    filter: url(#customFilter);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    z-index: 1000 !important;
  }
}

.has-started {
  #part-2 {
    filter: blur(4px) contrast(50) brightness(0.7);
    canvas {
      opacity: 1;
    }
    .poem {
      display: block !important;
      opacity: 1.0 !important;
      transform: scale(1);
    }

    .poem p {
      color: black !important;
      background: snow !important;
      filter: brightness(1) !important;
      animation: textOpacity 120s infinite, textScale 1500s infinite;
    }
  }
}

.selected-part {
  z-index: 100;
}

#part-1 .three-sheets-to-the-wind {
  max-height: 500px;
  height: 90%;
  margin-left: 0px;
  overflow: hidden;
  
  &.active {
    display: inline-block;
  }

  p {
    text-align: left;
    padding-left: 0;
    width: 100%;
  }

  p > span {
    display: block;
    position: relative;
    transform-origin: center;
    position: fixed;
  
    &:nth-child(1) {
      transform: rotate(-61deg);
      top: 16%;
      left: 13%;
    }
  
    &:nth-child(2) {
      transform: rotate(-82deg);
      top: 49%;
      left: 68%;
    }
  
    &:nth-child(3) {
      transform: rotate(-85deg);
      top: 65%;
      left: 49%;
    }
  
    &:nth-child(4) {
      transform: rotate(-39deg);
      top: 55%;
      left: 45%;
    }
  
    &:nth-child(5) {
      transform: rotate(-75deg);
      top: 65%;
      left: 7%;
    }
  
    &:nth-child(6) {
      transform: rotate(-25deg);
      top: 25%;
      left: 46%;
    }
  
    &:nth-child(7) {
      transform: rotate(-56deg);
      top: 79%;
      left: 38%;
    }
  
    &:nth-child(8) {
      transform: rotate(77deg);
      top: 28%;
      left: 13%;
    }
  
    &:nth-child(9) {
      transform: rotate(-60deg);
      top: 19%;
      left: 63.2%;
    } 
  
    &:nth-child(10) {
      transform: rotate(35deg);
      top: 41%;
      left: 31%;
    }
  
    &:nth-child(11) {
      transform: rotate(28deg);
      top: 59%;
      left: 67%;
    }
  }
}

@media screen and (min-width: 500px) {
  #part-1 {
    width: 460px;
    
    p {
      font-size: 32px;
      padding-left: 120px;
    }

    .poem {
      filter: blur(0px) contrast(1) url(#wind-filter-lg);
      margin-left: -60px;
    }

    .poem.three-sheets-to-the-wind {
      margin-left: 60px;
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes textOpacity {
  0% {
    /* filter: blur(0px) contrast(3) brightness(0.7); */
    opacity: 1.0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    /* filter: blur(4px) contrast(50) brightness(0.7); */
    opacity: 1.0;
  }
}

@keyframes textScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(1);
  }
}
