body {
  font-family: 'Ibarra Real Nova', monospace;
  font-weight: 400;
  background: black;
}

body.now-viewing {
  background: black;

  .player {
    display: none;
  }

  #poems-container {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
  }
}

#poems-container {
  background: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  color: black;
  font-size: 24px;
  display: none;
}

/* canvas { */
  /* opacity: 0.7;
  width: 100%;
  height: 100%;
  filter: blur(16px) contrast(2);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
  transition: 120s filter linear;
  filter: blur(15px) contrast(1);
  display: none; */
/* } */

/* #poems-container p {
  opacity: 0.9;
} */

button:hover {
  cursor: pointer;
}

.poem-container {
  opacity: 0;

  &.selected-part {
    opacity: 1;
  }
}

.poem {
  width: 100vw;
  height: auto;
  border: none;
  margin: auto;
}


#poems-container.part-1 {
  background: black;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: -15px;
  left: -15px;

  .poem-container {
    background: black;
    display: flex;
    width: 100%;

    h3 {
      text-align: left;
      border-bottom: solid snow 2px;
      padding-bottom: 10px;
    }

    h3, p {
      font-size: 36px;
    }

    p {
      text-align: right;
      margin: 0 0 0 auto;
    }

    .poem {
      color: snow;
      width: 550px;
      padding: 20px;
      max-width: calc(100% - 40px);
      display: none;
    }
    
    .poem.active {
      display: block;
      filter: blur(0px) contrast(1) url(#wind-filter);
    }

    .line-break {
      display: block;
    }
  }
}

#poems-container.part-2 {
  width: 60%;
  height: 80%;
  filter: blur(2px) contrast(3) brightness(0.7);
  background: snow;
  /* border-radius: 40px; */
  transition: 240s filter linear, 60s opacity linear;
  opacity: 0;

  &.has-started {
    filter: blur(3px) contrast(50) brightness(0.7);
    opacity: 1;
  }

  canvas {
    display: block;
    opacity: 1.0;
    width: 100%;
    height: 100%;
    filter: url(#customFilter);
    /* filter: blur(16px) contrast(2); */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    /* transition: 120s filter linear; */
    /* filter: blur(15px) contrast(1); */
    /* display: none; */
  }

  .poem-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* filter: url(#customFilter); */
    position: absolute;

    .poem {
      border-radius: 40px;
      height: calc(100vh - 100px);
      width: calc(100vw - 100px);
      overflow: hidden;
      opacity: 0;
      /* transition: 12s opacity linear; */
      border: none !important;
      width: 100%;
      height: 100%;
      text-align: center !important;
    }

    &.selected-part {
      .poem {
        display: block;
        opacity: 1.0;
        /* display: none; */
      }
    }

    .poem p {
      color: black !important;
      background: snow;
      line-break: anywhere;
      letter-spacing: -0.09em;
      line-height: .42em;
      /* letter-spacing: 0.01em;
      line-height: .51em; */
      font-size: 35px;
      margin: -10px auto auto;
      text-transform: lowercase;
    }
  }
}


#part-2 {
  position: absolute;
}

canvas.front {
  z-index: 1000 !important;
}

.player {
  margin-top: 20px;
  max-width: 500px;
  border: solid black 1px;
  padding: 0px;

  p.description {
    margin: 10px;
    font-size: 16px;
    width: auto;
    font-style: normal;
  }

  footer {
    border-top: solid black 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  footer p {
    margin: 0;
    font-size: 12px;
    width: 100%
  }

  button {
    font-size: 12px;
    font-family: 'Ibarra Real Nova', monospace;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
}
