body {
  font-family: 'Ibarra Real Nova', monospace;
  font-weight: 400;
}

body.now-viewing {
  background: black;

  #player {
    display: none;
  }
}

#canvas-container {
  background: white;
  /* filter: blur(1px) contrast(10) url(#duo); */
  /* filter: blur(2px) contrast(3) url(#customFilter) brightness(0.2); */
  /* filter: url(#customFilter); */
  /* filter: blur(1px) contrast(3) brightness(0.7);
  transition: 240s filter linear; */
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas-container.part-2 {
  transition: 240s filter linear;
  filter: blur(1px) contrast(3) brightness(0.7);
}

#close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  color: black;
  font-size: 24px;
  display: none;
}

#canvas-container p {
  opacity: 0;
  line-height: 1.3em;
  /* filter: blur(1px) url(#image-0); */
  /* font-weight: 600; */
  text-align: justify;
  /* letter-spacing: 0.1em; */
  /* margin: 20px; */
  /* position: absolute; */
  /* padding: 40px; */
  bottom: 0px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: fit-content;
  background-color: transparent;
  /* width: 550px; */
  z-index: 10;
  /* background: black; */
  /* color: black; */
}

canvas {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  filter: blur(16px) contrast(2);
  /* transition: 4s filter cubic-bezier(0.165, 0.84, 0.44, 1), 8s zoom linear; */
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

#canvas-container.fullscreen {
  z-index: 1000;
  display: flex;
  position: fixed;
  /* width: 100%;
  height: 100%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
}

#canvas-container.fullscreen canvas {
  position: absolute;
  /* filter: blur(1px) contrast(1); */
}

#canvas-container.fullscreen p {
  opacity: 0.9;
  /* background: black;
  color: white; */
  /* padding: 150px; */
  /* border: solid black 2px; */
  /* display: none; */
}

.fullscreen ~ * {
  /* display: none; */
}

img {
  display: none;
  object-fit: contain;
  width: 50%;
  height: auto;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -2;
  filter: url(#black-to-transparent);
}

#canvas-container p.active {
  display: block;
}

/* testing mix-blend */
/* #canvas-container.fullscreen {
  background: url(public/meander-door.jpg) no-repeat center / cover;
  mix-blend-mode: multiply;
  filter: url(#displacementFilter)
} */

/* testing clip-path */
#canvas-container.fullscreen {
  /* /* width: 300px; */
  /* height: 300px; */
  /* background: url(public/meander-door.jpg) no-repeat center / 938px;
  clip-path: ellipse(130px 140px at 10% 20%); */
  /* filter: url(#displacementFilter) */
}

button:hover {
  cursor: pointer;
}

.poem-container {
  opacity: 0;
}

.poem-container#part-1 {
  width: 100%;
}

.poem-container#part-2 {
  position: absolute;
}

.poem-container.selected-part {
  opacity: 1;
}

.poem {
  width: 100vw;
  height: auto;
  border: none;
  margin: auto;
  /* opacity: 0; */
  /* display: none; */
}

.poem.selected-part {
  display: block;
}

#canvas-container.part-1 {
  background: black;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  canvas {
    display: none;
  }
  top: -15px;
  left: -15px;
}

#canvas-container.part-2 {
  width: 60%;
  height: 80%;
  /* filter: blur(1px) contrast(3) url(#customFilter) invert(1) brightness(0.6); */
  background: snow;
  border-radius: 150px;

  &.has-started {
    filter: blur(3px) contrast(50) brightness(0.7);
  }
  /* border: solid black 40px; */

  canvas {
    filter: blur(8px) contrast(5);
  }
}

canvas {
  transition: 120s filter linear;
  filter: blur(15px) contrast(1);
}

#part-1 {
  filter: blur(1px) contrast(4) url(#wind-filter);
  background: black;
  display: flex;

  .poem {
    color: snow;
    width: 550px;
    /* border: solid black 4px !important; */
    /* text-align: right; */
    padding: 20px;
    max-width: calc(100% - 40px);
    display: none;
  }
  
  .poem.active {
    display: block;
    /* opacity: 1; */
  }
}

#part-1 h3 {
  text-align: left;
  border-bottom: solid snow 2px;
  padding-bottom: 10px;
}

#part-1 h3, #part-1 p {
  font-size: 36px;
}

#part-1 p {
  text-align: right;
  margin: 0 0 0 auto;
}

#part-1 .line-break {
  display: block;
}

#part-2 {
  /* z-index: 10000000; */
  width: 100%;
  overflow: hidden;
  /* filter: blur(1px) contrast(3) invert(0) brightness(0.6); */
  filter: url(#customFilter);
}

#part-2 .poem {
  /* padding: 50px; */
  /* margin: 50px 0 0 50px; */
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  /* max-width: calc(100% - 100px); */
  /* max-height: calc(100% - 100px); */
  overflow: hidden;

}

#part-2.selected-part {
  .poem {
    display: block;
    opacity: 0.8;
  }
}

#part-2 .poem {
  opacity: 0;
  transition: 12s opacity linear;
  border: none !important;
  /* font-size: 50px; */
  text-align: center !important;
  /* line-height: .4em; */
  /* width: 310px; */
  /* opacity: 0.8 !important; */
  /* font-family: 'monospace' !important; */
  
  p {
    color: black !important;
    background: snow;
    line-break: anywhere;
    letter-spacing: 0.01em;
    line-height: .51em;
    font-size: 35px;
    margin: -10px auto auto;
  }
}

canvas.front {
  z-index: 1000 !important;
}

.player {
  margin-top: 20px;
  max-width: 500px;
  border: solid black 1px;
  padding: 0px;
}

.player p.description {
  margin: 10px;
  font-size: 16px;
  width: auto;
  font-style: normal;
}

.player footer {
  border-top: solid black 1px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.player footer p {
  margin: 0;
  font-size: 12px;
  width: 100%
}

.player button {
  font-size: 12px;
  font-family: 'Ibarra Real Nova', monospace;
  padding: 10px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  #canvas-container p {
    /* font-size: 36px; */
    /* margin: auto; */
    /* padding: 160px; */
  }
}