body.project,
body.shop-page {
  background-color: #f0f0e6;
  font-family: 'Ibarra Real Nova';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  scroll-behavior: smooth;
}

.project .project-more {
  margin: 30px auto;
  max-width: 720px;
}

.project h1,
.project h1 a {
  border-bottom: none;
  line-height: 34px;
  font-size: 30px;
  font-weight: 300;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.project header a {
  border-bottom: none;
  text-decoration: none;
  word-break: break-all;
}

.project h2,
.shop-page h2 {
  font-weight: 300;
  margin: 30px auto 10px;
  margin: 40px 0 40px;
  text-align: center;
}

.project h2 a {
  border-bottom: none;
  text-decoration: none;
}

.project h3 {
  border-bottom: 1px solid #000;
  font-weight: 300;
}

.project figure {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

figure img {
  margin-bottom: 10px;
  box-sizing: border-box;
}

figure figcaption {
  flex-basis: 100%;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

figure img {
  flex-basis: 1;
  flex-grow: 1;
  border: 1px solid #000;
  height: auto;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}

figure .flex-half {
  flex-basis: 48%;
  flex-shrink: 1;
  flex-grow: 0;
}

figure.two-two,
figure.three-one {
  max-width: 100%;
}

figure img {
  border-radius: 2px 2px;
}

figure.two-two img,
figure.three-one img {
  flex-basis: 45%;
  flex-grow: 1;
  height: auto;
  margin: 10px;
  max-height: 350px;
  min-width: 40%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0 0 10px 0;
}

li::before {
  content: '✺';
  padding-right: 10px;
}

a {
  color: #000;
}

.background {
  position: fixed;
  left: 0;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.soundcloud-embed iframe {
  border: none;
}

.projects-list-header {
  margin: 30px auto 10px;
  margin: 40px 0 40px;
  text-align: center;
}

.top-spacer {
  margin-top: 10px; 
}

.project-border {
  height: calc(100% - 20px);
  width: calc(100vw - 20px);
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 10px;
}

.project header,
.shop-page header {
  align-items: flex-end;
  border-bottom: solid black 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto auto 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 720px;
  position: relative;
}

.content-wrapper a {
  text-decoration: none;
  border-bottom: solid grey 2px;
  margin: 0;
}

.content-wrapper figcaption a {
  border-bottom: none;
  text-decoration: underline;
}

.content-wrapper .project-more a {
  border-bottom: none;
}

.content {
  left: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 20px;
  bottom: 20px;
  right: 10px;
  padding: 30px;
}

.project .content p:first-child {
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
  font-style: italic;
}

.shop-page .content-wrapper p:first-child {
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
  font-style: italic;
}

.content .content-wrapper {
  margin: auto;
  max-width: 720px;
  position: relative;
  text-align: justify;
}

#product-listings {
  margin: auto;
  max-width: 720px !important;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#product-listings iframe {
  border: solid black 1px !important;
  border-radius: 2px;
  flex: 1 0 40%;
  min-width: 200px;
}

.project.one-column .content .content-wrapper {
  max-width: 768px;
  margin-right: auto;
}

.project.two-column .content-wrapper {
  min-height: 680px;
}

.project .figure-medium,
.shop-page .figure-medium {
  margin: auto auto 20px;
  width: 100%;
}

.project blockquote {
  margin: auto;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  clear: both;
  display: flex;
  font-style: italic;
  padding: 0 20px;
  text-align: justify;
}

.project blockquote p {
  padding: 0 20px;
}

.project figure {
  max-width: 600px;
}

.project .project-more {
  border-top: solid black 1px;
  margin-top: 20px;
  clear: both;
}

.project .all-projects-link {
  list-style: none;
}

.project .all-projects-link::before {
  content: '↪';
}

.project, .shop-page {
  margin: 20px auto;
}

.project .content {
  margin: 10px auto;
}

.project .figure-medium,
.shop-page .figure-medium {
  margin: auto;
  max-width: 400px;
  width: 100%;
}

.no-border, .no-border * {
  border: none;
}

.shop #product-listings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 100% !important;
}

.table-of-contents {
  font-family: "Ibarra Real Nova", serif;
  background-color: #f0f0e6;
  display: none;
  visibility: hidden;
  width: 240px;
  position: absolute;
  left: 20px;
  padding: 20px;
  left: 0;
  right: 0;
  margin: 20px 30px;
  padding: 10px;
  max-height: calc(100vh - 80px);
  max-width: 720px;
  overflow: scroll;
}

.table-of-contents.open {
  display: block;
  visibility: visible;
  z-index: 1;
  width: calc(100% - 80px);
}

.table-of-contents nav {
  text-align: center;
}

.table-of-contents nav a {
  padding: 0 5px;
}

.table-of-contents h1 {
  font-size: 24px;
}

/* body {
  background-color: #f0f0e6;
} */

.projects-list {
  clear: both;
}

.table-of-contents .project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 20px 0 20px;
}

.table-of-contents .project-title {
  font-weight: 400;
  padding-right: 5px;
  position: absolute;
  left: 0;
}

.table-of-contents .project-title a, .project-index a {
  text-decoration: none;
}

.table-of-contents .project-index {
  font-style: italic;
  padding-left: 5px;
  position: absolute;
  right: 0;
}

.table-of-contents .project-title, .project-index {
  z-index: 1;
  background-color: #f0f0e6;
  top: -3px;
}

.table-of-contents .project-line {
  border-bottom: 2px dotted black;
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
}

.table-of-contents .project-tagline {
  font-style: italic;
  margin-top: 20px;
  top: 20px;
}

.table-of-contents .project-tagline a {
  text-decoration: none;
}

.table-of-contents .project-tagline::after {
  content: '↝';
  margin-left: 5px;
  font-family: math;
  font-size: 18px;
  font-weight: 100;
}

.table-of-contents li::before {
  display: none;
}

/*  */
.table-of-contents.open + .content {
  filter: blur(10px);
  transition: filter 0.9s ease;
}

.toc-button {
  background-color: #f0f0e6;
  right: 30px;
  position: absolute;
  top: 30px;
  font-size: 20px;
  border: none;
  z-index: 10;
}

.toc-button:after {
  content: '☰';
}

.toc-button.open:after {
  content: '✕';
}

@media screen and (min-width: 768px) {
  body.project,
  body.shop-page {
    font-size: 18px;
    line-height: 22px;
  }

  .project .content .content-wrapper,
  .shop-page .content .content-wrapper {
    margin: auto;
    max-width: 440px;
    position: relative;
    margin-left: calc((100% - 720px) / 2);
  }

  .project .content p:first-child,
  .shop-page .content p:first-child {
    margin: 40px 0px;
    width: 720px;
  }

  .project.two-column .figure-medium,
  .shop-page.two-column .figure-medium { 
    position: absolute;
    left: calc(100% + 30px);
    margin: auto;
    width: 250px;
  }

  .project.two-column .figure-medium img,
  .shop-page.two-column .figure-medium img {
    margin-top: 0;
  }

  #product-listings {
    width: 720px !important;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid black 1px;
  }

  #product-listings iframe {
    max-width: 220px;
  }
}

@media screen and (min-width: 1180px) {
  .table-of-contents {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  #product-listings {
    width: 1024px !important;
    max-width: 1024px !important;
    margin-left: calc((720px - 1024px) / 2);
  }
}

@media print {
  .figure-medium img,
  .figure-medium figcaption {
    max-width: 300px;
    text-align: center;
    margin: auto;
  }

  .figure-body {
    margin-left: 0;
  }

  .project header {
    margin-top: -30px;
  }

  .project .content-wrapper {
    width: 100%;
    max-width: 100%;
    /* margin: 80px 0 0; */
    margin-top: 180px;
  }

  .project .content-wrapper p,
  .figure-body {
    width: 320px;
  }

  .project .figure-medium {
    position: absolute;
    margin: 0;
    right: -50px;
  }

  .project .figure-medium figcaption {
    margin-top: 20px;
    /* max-width: 400px; */
  }

  .project-more {
    display: none;
  }

  /* .project .content p:first-child { */
    /* margin: 40px 20px; */
    /* max-width: ; */
  /* } */

  .soundcloud-embed {
    display: none;
  }
}

.background-image {
  background-image: url(https://reubenson-portfolio.s3.amazonaws.com/imgs/studio.jpg);
  background-position: 75% 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.divider-line {
  text-align: center;
  margin: 20px auto;
  letter-spacing: 20px;
  font-weight: bold;
}

.ibarra {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
}

figure.three-one img.full-width {
  max-width: 100%;
  width: 100%;
  flex-basis: 100%;
}

figure.three-one img {
  flex-basis: 30%;
  min-width: 30%;
  flex-grow: 2;
}

figure.two-two img {
  flex-basis: 45%;
  min-width: 45%;
  flex-grow: 2;
}
