body {
  margin: 0;
  font-family: Courier New;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  scroll-behavior: smooth;
}

.index {
  padding-bottom: 100vh;
}

.index .content {
  background-color: #f0f0e6;
  border: 2px solid #000;
  margin: 10px;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1, .project h1 > a {
  line-height: 34px;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

header a {
  text-decoration: none;
  word-break: break-all;
}

h2 {
  border-bottom: 2px solid #000;
  font-weight: 300;
  margin: 30px auto 10px;
}

h2 a {
  text-decoration: none;
}

h3 {
  border-bottom: 1px solid #000;
  font-weight: 300;
}

figure {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

figure figcaption {
  flex-basis: 100%;
  font-size: 10px;
  line-height: 12px;
  padding: 10px 10px 0;
}

figure figcaption a {
  font-size: 10px;
}

figure img {
  flex-basis: 1;
  flex-grow: 1;
  border: 1px solid #000;
  height: auto;
  margin-top: 10px;
  width: 100%;
}

figure .flex-half {
  flex-basis: 48%;
  flex-shrink: 1;
  flex-grow: 0;
}

.project figure.two-two,
.project figure.three-one {
  max-width: 100%;
}

figure img {
  border-radius: 2px 2px;
}

figure.two-two img,
figure.three-one img {
  flex-basis: 45%;
  flex-grow: 1;
  /* border-radius: 20px 20px; */
  height: auto;
  margin: 10px;
  /* padding: 10px; */
  max-height: 350px;
  min-width: 40%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 0 0 10px 0;
}

li::before {
  content: '✺';
  padding-right: 10px;
}

a {
  color: #000;
}

.background {
  position: fixed;
  left: 0;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.soundcloud-embed iframe {
  border: none;
}

.projects-list-header {
  text-align: center;
  margin: 20px auto;
}

.project {
  background-color: #f0f0e6;
  /* margin: 20px; */
  /* max-width: 768px; */
  /* min-height: calc(100vh - 100px); */
  /* padding: 10px; */
}

.project .top-spacer {
  margin-top: 10px; 
}

.project-border {
  height: calc(100% - 20px);
  width: calc(100vw - 20px);
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 10px;
}

.project header {
  align-items: flex-end;
  border-bottom: solid black 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.project a {
  /* font-size: 1px; */
  margin: 0;
  /* word-break: break-all; */
}

.project h1 {
  margin: 0 20px 0 0;
}

.project h2 {
  border: none;
  margin: 40px 0;
  text-align: center;
}

.project .content {
  /* overflow: auto; */
  left: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 20px;
  bottom: 20px;
  right: 10px;
  padding: 30px;
  max-width: 768px;
}

.project .figure-medium {
  margin: auto auto 20px;
  width: 100%;
}

.project p {
  font-size: 14px;
  line-height: 16px;
}

.project blockquote {
  margin: auto;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  clear: both;
  display: flex;
  /* text-align: center; */
  font-style: italic;
  /* overflow: auto; */
  margin: auto 40px;
  padding: 0 20px;
  text-align: justify;
}

.project blockquote p {
  padding: 0 20px;
}

.project figure {
  max-width: 600px;
}

.project .project-more {
  border-top: solid black 1px;
  margin-top: 20px;
  clear: both;
}

@media screen and (min-width: 400px) {
  .index .content {
    max-width: 480px;
  }

  .project {
    margin: 20px auto;
    /* max-width: calc(100vw - 100px); */
  }

  .project .content {
    margin: 10px auto;
  }

  .project .figure-medium {
    float: left;
    margin-right: 30px;
    max-width: 300px;
    width: 100%;
  }
}

@media print {
  img {
    /* height: 300px; */
    max-width: 300px;
    /* width: auto; */
    text-align: center;
    margin: auto;
    /* height: 400px; */
    /* max-width: 100%; */
    /* width: auto; */
  }

  /* float is not supported in print */
  figure {
    float: none;
    margin: auto;
    /* max-width: 200px; */
    text-align: center;
    /* height: 400px;
    max-height: 400px; */
    /* position: absolute;
    left: 0;
    top: 0; */
  }
}

.background-image {
  background-image: url(https://reubenson-portfolio.s3.amazonaws.com/imgs/studio.jpg);
  background-position: 75% 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.divider-line {
  text-align: center;
  margin: 20px auto;
  letter-spacing: 20px;
  font-weight: bold;
}

.ibarra {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
}

figure.three-one img.full-width {
  /* min-width: 100%; */
  max-width: 100%;
  width: 100%;
  flex-basis: 100%;
}

figure.three-one img {
  flex-basis: 30%;
  min-width: 30%;
  /* max-width: 45%; */
  flex-grow: 2;
}

figure.two-two img {
  flex-basis: 45%;
  min-width: 45%;
  /* max-width: 45%; */
  flex-grow: 2;
}