nav.main-nav {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  z-index: 10;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 58px);
  max-width: 720px;
  border-bottom: solid black 1px;
  background-color: #f0f0e6;
  display: flex;
  justify-content: space-between;
}
nav.main-nav a {
  text-decoration: none;
  padding: 5px;
}
nav.main-nav .active {
  border-bottom: solid black 1px;
}

.homepage nav.main-nav {
  display: none;
  background-color: transparent;
}
.homepage nav.main-nav a {
  background-color: #f0f0e6;
  border-radius: 2px;
  border: solid black 1px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.6);
}
.homepage nav.main-nav.open {
  display: flex;
}