@charset "UTF-8";
.table-of-contents {
  font-family: "Ibarra Real Nova", serif;
  background-color: #f0f0e6;
  display: none;
  visibility: hidden;
  width: 100%;
  position: fixed;
  left: 20px;
  padding: 10px 10px;
  left: 0;
  right: 0;
  margin: 18px;
  padding: 0 20px;
  height: 100%;
  max-height: calc(100% - 36px);
  max-width: 720px;
  overflow: scroll;
  top: 0;
  bottom: 0;
}
.table-of-contents > * {
  max-width: 720px;
  margin: auto;
}
.table-of-contents-header {
  text-align: center;
}
.table-of-contents.open {
  display: block;
  visibility: visible;
  z-index: 9;
  width: calc(100% - 36px);
}
.table-of-contents.open + .content {
  filter: blur(10px);
  transition: filter 0.9s ease;
}
.table-of-contents nav {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #f0f0e6;
  padding: 6px 0 10px;
  border-bottom: solid black 1px;
  z-index: 2;
  font-size: 20px;
  margin-bottom: 20px;
}
.table-of-contents nav a {
  padding: 0 5px;
  text-decoration: none;
  font-weight: bold;
}
.table-of-contents h2.table-of-contents-header {
  text-align: center;
  margin: 40px auto;
}
@media screen and (min-width: 768px) {
  .table-of-contents {
    max-width: 100%;
  }
}

.toc-button {
  background-color: #f0f0e6;
  right: 26px;
  position: absolute;
  top: 26px;
  font-size: 20px;
  border: none;
  z-index: 10;
  width: 28px;
  height: 28px;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}

.homepage .toc-button {
  background-color: transparent;
}
.homepage .toc-button.open {
  border: none;
}

.toc-button:after {
  content: "☰";
  color: #000000;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
}

.toc-button.open:after {
  content: "✕";
}

@media print {
  .toc-button {
    display: none;
  }
}
.projects-list {
  clear: both;
}

.projects-list-container .project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 20px 0 20px;
}

.projects-list-container .project-title {
  font-weight: 400;
  padding-right: 5px;
  position: absolute;
  left: 0;
  font-style: italic;
}

.projects-list-container .project-title a,
.project-index a {
  text-decoration: none;
}

.projects-list-container .project-index {
  font-style: italic;
  padding-left: 5px;
  position: absolute;
  right: 0;
}

.projects-list-container .project-title,
.project-index {
  z-index: 1;
  background-color: #f0f0e6;
  top: -3px;
}

.projects-list-container .project-line {
  border-bottom: 2px dotted black;
  display: block;
  position: absolute;
  top: 1cap;
  width: 100%;
}

.projects-list-container .project-tagline {
  margin-top: 20px;
  top: 20px;
  font-size: 15px;
}

.projects-list-container .project-tagline a {
  text-decoration: none;
}

.projects-list-container .project-tagline::after {
  margin-left: 5px;
  font-family: math;
  font-size: 18px;
  font-weight: 100;
}

.projects-list-container li::before {
  display: none;
}

.projects-list-container a {
  border-bottom: none;
}

.homepage .table-of-contents {
  border: solid #000 1px;
}