---
title: Reuben Son Homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Reuben Son: software developer, sound artist, and ceramist" />
    <meta property="og:image" content="https://reubenson.com/public/homepage-minimal.jpeg" />
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    <link rel="stylesheet" href="/bundle.css">
    <link rel="stylesheet" href="/styles/main.css">
    <style>
      .homepage .project-border {
        background-image: url('{{ backgroundImage }}') !important;
      }
    </style>
    
    {% include "gtm.njk" %}
  </head>
  <body class="homepage">
    {% include "nav.njk" %}
    {% include "toc-button.njk" %}
    <h1 class="visually-hidden">{{ title }}</h1>
    <div class="cards">
      <div class="card-container">
        <div class="card front broider-cancel">
          <div class="container">
            <header>
              <h1><a href="/about">{{ title }}</a></h1>
              {{ content | safe }}
              {# {% renderFile './src/_includes/tiny-bio.md' %} #}
            </header>
          </div>
            <div class="card-header">
              <p>{{ header | safe}}</p>
              {# {% renderFile './src/_includes/social.md' %} #}
            </div>
          <div class="card-footer">
            <p>
              {{ footer }}
            </p>
          </div>
          <div class="container-background"></div>
        </div>
      </div>
    </div>
    {# {% include "chop.njk" %} #}
    <div class="broider">
      <div class="project-border"></div>
    </div>
  </body>
</html>