<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="mobile-friendly quick links for Reuben Son">
    <meta name="keywords" content="reuben son, nyc, software engineer, electronic music, ceramics">
    <style type="text/css">
      body {
        background-color: #f0f0e6;
        {# display: inline; #}
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 1.15px;
        margin: 0;
        {# overflow-x: hidden; #}
        {# padding: 0 10px; #}
        padding: 10px;
        text-align: center;
        width: 100%;
      }

      .content {
        margin: auto;
        max-width: 600px;
        position: relative;
        {# width: 100%; #}
        overflow-x: hidden;
        padding: 0 20px;
      }

      p {
        line-height: 1.3em;
        text-align: justify;
      }

      h1 a {
        font-weight: 500;
        font-family: serif;
        letter-spacing: 10.1px;
        text-transform: uppercase;
      }

      h1 a, h2 a {
        color: black;
        text-decoration: none;
      }

      h2 {
        {# border: dotted black 2px; #}
        display: block;
        {# margin: 15px; #}
        padding: 15px;
        font-size: 20px;
      }

      h3 {
        margin-top: 20px;
        font-size: 18px;
        text-align: left;
      }
  

      h1, h2, h3 {
        font-weight: 300;
        {# padding: 0 30px; #}
      }

      ul {
        padding: 0;
      }

      li {
        font-weight: 100;
        font-size: 12px;
        {# font-family: monospace; #}
        list-style: none;
        margin: 25px auto;
        padding: 0 35px;
        text-align: left;
        text-decoration: none;
      }

      li::before {
        {# https://www.compart.com/en/unicode/category/So #}
        {# content: '✈'; #}
        content: '✺';
        position: absolute;
        left: 15px;
        text-align: center;
        width: 20px;
      }

      {# li:nth-child(3)::before {
        content: '▦';
      } #}

      {# li:nth-child(2)::before {
        content: '⚱';
      } #}

      {# li:nth-child(4)::before {
        content: '❀';
      } #}

      {# li:nth-child(1)::before {
        content: '✈';
      } #}

      .mail-gif {
        margin-top: 10px;
        width: 100%;
        max-width: 450px;
      }

      a:not(.mail) {
        {# font-size: 18px; #}
      }

      {# a, a:visited {
        border-color: #000;
        border-style: solid;
        box-shadow: 2px 1px black;
        color: #000;
        display: inline-block;
        max-width: 500px;
        padding: 10px;
        text-decoration: none;
        width: calc(100% - 30px);
      } #}

      svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
      }

      {# card styling #}
      .card {
        border: solid black 2px;
        width: 400px;
        padding-bottom: 228px;
        margin: 10px auto;
        position: relative;
        {# max-width: 500px; #}
        {# max-height: 50%; #}
        {# 3.5"  #}
        {# width: 336px; 
        height: 192px; #}
      }

      .card.back {
        margin-top: 40px;
      }

      .card h1 {
        background-color: #f0f0e6;
        display: inline;
        font-size: 24px;
        height: 28px;
        {# background-color: white; #}
        position: absolute;
        width: auto;
        z-index: 1;
      }

      .card.front h1 {
        {# font-family: serif; #}
        left: -76px;
        text-align: center;
        transform: rotateZ(-90deg);
        top: 35%;
        {# height: 0; #}
      }

      .card.back h1 {
        {# height: 0; #}
        {# width: 100%; #}
        {# position: absolute; #}
        right: -78px;
        top: 82px;
        {# right: -48%;
        top: 35%;
        text-align: center; #}
        {# transform: scaleX(-1); #}
        transform: rotateZ(90deg) scaleX(-1);
      }

      .card .container {
        {# border: solid black 1px; #}
        font-size: 14px;
        line-height: 15px;
        margin: 15px;
        {# padding: 20px 20px 20px 60px; #}
        padding: 20px;
        height: calc(100% - 70px);
        position: absolute;
      }

      .container-background {
        {# box-sizing: border-box; #}
        border: solid black 1px;
        position: absolute;
        height: calc(100% - 20px);
        margin: 10px;
        width: calc(100% - 20px);
        z-index: -1;
      }

      .card p {
        margin-top: 0;
      }

      .container a {
        border-bottom: dotted black 1px;
        color: black;
        text-decoration: none;
        {# font-weight: bold; #}
      }

      .card ul {
        margin-top: 0;
      }

      .card li {
        line-height: 18px;
        margin: 5px;
        padding-left: 20px;
      }

      .social {
        display: inline;
        font-size: 10px;
        position: absolute;
        bottom: -2px;
        left: 0;
        margin: auto;
        right: 0;
        z-index: 1;
      }

      .social p {
        background: #f0f0e6;;
        display: inline-block;
        {# font-weight: bold; #}
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        width: auto;
      }

      .card .social a {
        color: black;
        text-decoration: none;
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
  </head>
  <body>
    <div class="card front">
      <h1>Reuben Son</h1>
      <div class="container">
        {% renderFile './src/_includes/tiny-bio.md' %}
      </div>
      <div class="social">
        {% renderFile './src/_includes/social.md' %}
      </div>
      <div class="container-background"></div>
    </div>
    <div class="card back">
      <h1>Reuben Son</h1>
      <div class="container">
        <p>Some things I've made or been a primary contributor to ...</p>
        {% renderFile './src/_includes/latest.md' %}
        {# <img src="https://reubenson-portfolio.s3.us-east-1.amazonaws.com/assets/frogmail.gif" alt="animated gif of a frog retrieving the mail" class="mail-gif"/> #}
        <!-- gif courtesy of https://frogina.tripod.com -->
      </div>
      <div class="social">
        <p>
          Last updated {{ page.date.toTimeString() }}
        </p>
      </div>
      <div class="container-background"></div>
    </div>

    {# <div class="content"> #}
      {# <svg viewBox="-100 -400 500 500">
        <path id="curve" fill="transparent" d="M10,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
        <text width="500">
          <textPath xlink:href="#curve">
            Website last updated {{ page.date.toString() }}
          </textPath>
        </text>
      </svg> #}
      {# <svg viewBox="0 0 500 500">
        <path id="curve" d="m 150 350 a 150 250 0 1 1 40 0" style="fill: red" />
        <text width="500">
          <textPath xlink:href="#curve">
            Last updated {{ page.date.toString() }}
          </textPath>
        </text>
      </svg> #}
      {# <span class='timestamp'>Last updated {{ page.date.toString() }}</span> #}
      {# {{ content | safe }} #}
    {# </div> #}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');
    </script>
  </body>
</html>