---
title: Project Title
description: Project description
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Reuben Son">
    <meta property="og:type" content="website" />
    {% if alternateUrl %}<link rel="alternate" type="text/html" href="{{ alternateUrl }}" hreflang="en" />{% endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    {% if ogImage %}<meta property="og:image" content="{{ ogImage }}" />{% endif %}
    <meta property="og:type" content="website" />
      {% include "open-font.njk" %}
    {% if includeGTM %}{% include "gtm.njk" %}{% endif %}
    {% if scriptUrl %}<script src="{{ scriptUrl | safe }}"></script>{% endif %}
    {% if scriptUrl2 %}<script src="{{ scriptUrl2 | safe }}"></script>{% endif %}
    {% if cssUrl %}<link rel="stylesheet" href="{{ cssUrl | safe }}">{% endif %}
  </head>
  <body class="{{ layoutType }}">
    {{ content | safe }}
  </body>
</html>