---
title: Reuben Son Homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Reuben Son: software developer, sound artist, and ceramist" />
    <meta property="og:image" content="https://reubenson.com/public/card_july2024.jpg">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    <link rel="stylesheet" href="/bundle.css">
    <link rel="stylesheet" href="/_styles/main.css">
    
    {% include "gtm.njk" %}
  </head>
  <body class="homepage">
    {% include "toc-button.njk" %}
    {% include "table-of-contents.njk" %}
    {# {% include "table-of-contents.njk" %} #}
    <div class="cards">
      <div class="card-container">
        <div class="card front broider-cancel">
          <h1><a href="/about">Reuben Son</a></h1>
          <div class="container">
            {% renderFile './src/_includes/tiny-bio.md' %}
          </div>
          <div class="social">
            {% renderFile './src/_includes/social.md' %}
          </div>
          <div class="container-background"></div>
        </div>
      </div>
      <div class="card-container">
        <div class="card back broider-cancel">
          <h1><a href="/about">Reuben Son</a></h1>
          <div class="glyph">
            <a href="https://frogchor.us" target="_blank">
              <img src="/public/frog-glyph.png">
            </a>
          </div>
          <div class="container">
            <div class="card-quote" style="width: {{ announcements[0].width | safe}}">
              {# <span class="left-arrow hidden" onclick="handleLeftArrow()">&#x2190;</span> #}
              <span class="right-arrow" onclick="handleRightArrow()" title="see previous announcements">⥻</span>
              {% if announcements[0].header %}
                <header class="card-quote-header">
                  {{ announcements[0].header | safe }}
                </header>
              {% endif %}
              <p class="card-quote-content">
                {{ announcements[0].content | safe}}
              </p>
              {% if announcements[0].footer %}
                <p class="card-quote-footer">
                  {{ announcements[0].footer | safe }}
                </p>
              {% endif %}
              <img src="{{ announcements[0].hoverImage }}" class="hover-image" alt="" />
            </div>
          </div>
          <div class="social">
            <p>
              last updated {{ timestamp }}
            </p>
          </div>
          <div class="container-background"></div>
        </div>
      </div>
    </div>
    {# {% include "chop.njk" %} #}
    <div class="page-border broider"></div>
    <script>
      {# add GA #}
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');

      {# embed annoucements json #}
      const ANNOUNCEMENTS_DATA = {{ announcements | dump | safe }};
      let index = 0;
      renderAnnouncement(ANNOUNCEMENTS_DATA[index]);

      function renderAnnouncement(data) {
        const cardQuote = document.querySelector('.card-quote');
        const content = document.querySelector('.card-quote-content');
        const header = document.querySelector('.card-quote-header');
        const footer = document.querySelector('.card-quote-footer');
        const hoverImage = document.querySelector('.hover-image');
        
        cardQuote.style.width = data.width || '130px';
        header.innerHTML = data.header || '';
        content.innerHTML = data.content || '';
        if (footer) footer.innerHTML = data.footer || '';
        hoverImage.src = data.hoverImage || '';
        if (!data.hoverImage) {
          hoverImage.classList.add('hidden');
        } else {
          hoverImage.classList.remove('hidden');
        }
      }

      function handleLeftArrow() {
        index--;
        index = Math.max(0, index);
        renderAnnouncement(ANNOUNCEMENTS_DATA[index]);
        if (index === 0) {
          document.querySelector('.left-arrow').classList.add('hidden');
        }
      }

      function handleRightArrow() {
        index++;
        renderAnnouncement(ANNOUNCEMENTS_DATA[index]);
        if (index > 0) {
          // leave off right arrow
          // document.querySelector('.left-arrow').classList.remove('hidden');
        }
        if (index === ANNOUNCEMENTS_DATA.length - 1) {
          document.querySelector('.right-arrow').classList.add('hidden');
        }
      }

    </script>
  </body>
</html>