---
title: Reuben Son Homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    <style type="text/css">
      body {
        background-color: #f0f0e6;
        font-weight: 100;
        font-family: Courier New;
        letter-spacing: 1.15px;
        margin: 0;
        text-align: center;
        width: 100%;
      }

      .project-border {
        height: calc(100% - 20px);
        width: calc(100vw - 20px);
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        margin: 10px;
      }

      .content {
        margin: auto;
        max-width: 600px;
        position: relative;
        overflow-x: hidden;
        padding: 0 20px;
      }

      p {
        line-height: 1.3em;
        text-align: left;
      }

      h1 a, h2 a {
        color: black;
        text-decoration: none;
      }  

      ul {
        padding: 0;
      }

      li {
        font-weight: 100;
        font-size: 13px;
        list-style: none;
        margin: 25px auto;
        text-align: left;
        text-decoration: none;
      }

      li::before {
        font-size: 12px;
        font-family: serif;
        position: absolute;
      }

      {# card styling #}
      .cards {
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: calc(100% - 50px);
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .card {
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 228px;
        margin: 10px auto;
        max-width: 400px;
        position: relative;
      }

      .card.back {
        margin-top: 40px;
      }

      .card.back .container {
        display: flex;
        align-items: center;
      }

      .card h1 {
        background-color: #f0f0e6;
        display: inline;
        font-size: 24px;
        height: 28px;
        padding: 0 5px;
        position: absolute;
        width: auto;
        z-index: 1;
      }

      .card.front h1 {
        left: -81px;
        text-align: center;
        transform: rotateZ(-90deg);
        top: 81px;
      }

      .card.back h1 {
        right: -81px;
        top: 81px;
        transform: rotateZ(90deg) scaleX(-1);
      }

      .card .container {
        font-size: 13px;
        letter-spacing: -1px;
        line-height: 15px;
        margin: 20px;
        padding: 8px;
        position: absolute;
        height: calc(100% - 50px);
        width: calc(100% - 55px);
      }

      .container-background {
        border: solid black 1px;
        position: absolute;
        height: calc(100% - 20px);
        margin: 10px;
        width: calc(100% - 20px);
        z-index: -1;
      }

      .card p {
        margin-top: 0;
        {# text-align: justify; #}
      }

      .container a {
        color: black;
        text-decoration: none;
      }

      .container a {
        border-bottom: solid grey 1px;
      }

      .card ul {
        margin-top: 0;
      }

      .card li {
        line-height: 15px;
        margin: 0px 0 6px 0;
      }

      .card .project-description {
        font-style: italic;
      }

      .card-quote {
        display: block;
        font-style: italic;
        margin: auto;
        text-align: justify;
        width: 177px;
      }

      .card-quote a {
        {# border: none; #}
        {# text-decoration: none; #}
      }

      .card-quote {
        width: 130px;
      }
      .card-quote p {
        margin: auto;
      }

      .social {
        display: inline;
        font-size: 8px;
        letter-spacing: normal;
        position: absolute;
        bottom: -2px;
        left: 0;
        margin: auto;
        right: 0;
        z-index: 1;
      }

      .social p {
        background: #f0f0e6;
        display: inline-block;
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        width: auto;
      }

      .card .social a {
        color: black;
        text-decoration: none;
      }

      .glyph {
        bottom: 27px;
        line-height: 40px;
        right: 16px;
        margin: auto;
        position: absolute;
        height: 50px;
        z-index: 1;
      }

      .glyph a {
        text-decoration: none;
        color: #003000;
      }

      .glyph img {
        height: 100%;
        display:inline-block;
        background: #003000;
        -webkit-mask:url("/public/transparent.png") center/contain;
        mask:url("/public/transparent.png") center/contain;
      }

      @media screen and (min-height: 550px) {
        .cards {
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
  </head>
  <body>
    <div class="cards">
      <div class="card front broider-cancel">
        <h1><a href="/projects">Reuben Son</a></h1>
        <div class="container">
          {% renderFile './src/_includes/tiny-bio.md' %}
        </div>
        <div class="social">
          {% renderFile './src/_includes/social.md' %}
        </div>
        <div class="container-background"></div>
      </div>
      <div class="card back broider-cancel">
        <h1><a href="/projects">Reuben Son</a></h1>
        <div class="glyph">
          <a href="https://frogchor.us" target="_blank">
            <img src="/public/frog-glyph.png">
          </a>
        </div>
        <div class="container">
          <div class="card-quote">
            <p>
              Coming out to close the gate I end up listening to frogs
            </p>
          </div>
          {# <span class="card-quote"> #}
            {# <div>
              <header>
                <p style="margin-bottom: 10px;">
                  Upcoming: <a href="https://fruitful.school/blog/2024-03-13.html">Frog Chorus Listening Event (co-presented with Fruitful School)</a>
                </p>
                <p>
                  Wednesday, March 20, 2024
                </p>
                <p>
                  6:30pm til sundown
                </p>
                <p>
                  <a href="https://maps.app.goo.gl/bsWruvJthmBE1XF9A" target="_blank"> Pier 3 Plaza Brooklyn Bridge Park</a>
                </p>
              </header>
              <p style="margin-top: 20px;">
                <a href="/posters/frog-chorus-vernal-equinox-2024/">Event flyer ↝</a>
              </p>
            </div> #}
            {# https://www.goodreads.com/review/show/785097402 #}
            {# Left blank for a work expressing modern feeling.  #}
          {# </span> #}
        </div>
        <div class="social">
          <p>
            last updated {{ timestamp }} ~ <a href="/colophon">colophon</a>
          </p>
        </div>
        <div class="container-background"></div>
      </div>
    </div>
    <div class="project-border broider"></div>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');
    </script>
  </body>
</html>