---
title: Portfolio
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="stylesheet" href="/project-slides.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    {# https://splidejs.com/guides/getting-started/ #}
    <script src="/splide.min.js"></script>
    <link rel="stylesheet" href="/splide.min.css">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    {% include "gtm.njk" %}
    <style>
      @media print {
        .content {
          overflow: auto;
          height: auto;
        }

        .splide__list {
          display: block;
        }
        
        li.splide__slide {
          border: none;
          height: calc(100vh - 20px);
        }

        div.splide__slide {
          border: none;
        }

        figure.splide__slide {
          height: 100%;
          width: 100%;
        }

        .splide__arrow {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="content">
      <section class="splide" aria-label="{{ title }}">
        <div class="splide__track">
          <ul class="splide__list">
            {% for item in items %}
            <li class="splide__slide">
              <div class="splide__slide broider">
                <h1>{{ item.title }}</h1>
                  {% renderFile "./src/" ~ item.path ~ ".md" %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </div>
    <script>
      new Splide( '.splide' ).mount();
    </script>
  </body>
</html>


{# ---
title: Reuben Son portfolio
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/png" href="/favicon.png">
    <style type="text/css">
      body {
        font-family: sans-serif;
        font-weight: 300;
        letter-spacing: .7px;
        margin: 40px;
      }

      a {
        color: black;
      }

      ul {
        list-style: none;
        padding-left: 0px;
      }

      li {
        padding: 10px;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');
    </script>
  </head>
  <body>
    {{ content | safe }}
    {% if includeBiography %}
      {% renderFile "./src/_includes/short-bio.md" %}  
    {% endif %}
    {% renderFile "./src/_includes/resume/residencies.md" %}
    {% renderFile "./src/_includes/resume/selected_projects.md" %}
    {% renderFile "./src/_includes/resume/selected_performances.md" %}
    {% renderFile "./src/_includes/resume/selected_discography.md" %}
    {% if includeEmployment %}
      {% renderFile "./src/_includes/resume/employment.md" %}  
    {% endif %}
    {% if includeEducation %}
      {% renderFile "./src/_includes/resume/education.md" %}  
    {% endif %}
  </body>
</html> #}