---
title: Reuben Son portfolio
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/png" href="/favicon.png">
    <style type="text/css">
      body {
        font-family: sans-serif;
        font-weight: 300;
        letter-spacing: .7px;
        margin: 40px;
      }

      a {
        color: black;
      }

      ul {
        list-style: none;
        padding-left: 0px;
      }

      li {
        padding: 10px;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');
    </script>
  </head>
  <body>
    {{ content | safe }}
    {% if includeBiography %}
      {% renderFile "./src/_includes/short-bio.md" %}  
    {% endif %}
    {% renderFile "./src/_includes/residencies.md" %}
    {% renderFile "./src/_includes/selected_projects.md" %}
    {% renderFile "./src/_includes/selected_performances.md" %}
    {% renderFile "./src/_includes/selected_discography.md" %}
    {% if includeEmployment %}
      {% renderFile "./src/_includes/employment.md" %}  
    {% endif %}
    {% if includeEducation %}
      {% renderFile "./src/_includes/education.md" %}  
    {% endif %}
  </body>
</html>