---
title: Project Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    {# <link rel="stylesheet" href="/bundle.css"> #}
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    <style>
      {# .poster {
        height: 2420px;
        width: 1870px;
        overflow: hidden;
        position: relative;
      } #}


      
      .content {
        height: 100vh;
        {# padding: 60px; #}
        position: relative;
        width: 100vw;
      }

      .background-image {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    </style>
  </head>
  <body class="poster">
    {# <header> #}
      {# <h1>{{ title }}</h1> #}
    {# </header> #}
    <div class="content">
      {{ content | safe }}
      {% if backgroundImageUrl %}
        <img src={{ backgroundImageUrl }} class="background-image">
      {% endif %}
    </div>
  </body>
</html>