---
title: Project Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}  
    <style>
      h1 {
        font-size: 24px;
      }

      body {
        background-color: #f0f0e6;
      }

      .projects-list {
        clear: both;
      }

      .project-item {
        display: flex;
        font-family: Courier New;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: -.3px;
        position: relative;
        font-size: 14px;
        margin: 20px 0 20px;
      }

      .project-title {
        font-weight: 400;
        padding-right: 5px;
        position: absolute;
        left: 0;
      }

      .project-title a, .project-index a {
        text-decoration: none;
      }

      .project-index {
        font-style: italic;
        padding-left: 5px;
        position: absolute;
        right: 0;
      }

      .project-title, .project-index {
        z-index: 1;
        background-color: #f0f0e6;
        top: -3px;
      }

      .project-line {
        border-bottom: 2px dotted black;
        display: block;
        position: absolute;
        top: 9px;
        width: 100%;
      }

      .project-tagline {
        font-style: italic;
        margin-top: 20px;
        top: 20px;
      }

      .project-tagline a {
        text-decoration: none;
      }

      .project-tagline::after {
        content: '↝';
        margin-left: 5px;
        font-family: math;
        font-size: 18px;
        font-weight: 100;
      }

      li::before {
        display: none;
      }

      .resume-year {
        display: none;
      }
    </style>
  </head>
  <body class="project">
    <div class="content">
      <header>
        <h1><a href="/">{{ title }}</a></h1>
      </header>
      {{ content | safe }}
      <h2 class="projects-list-header">Selected Projects</h2>
      <ul class="projects-list">
      {% for project in projects %}
        <li class="project-item">
          <span class="project-title"><a href="{{ project.path }}">{{ project.title }}</a></span>
          <span class="project-index"><a href="{{ project.path }}">{{ loop.index }}</a></span>
          <span class="project-line"></span>
          <span class="project-tagline"><a href="{{ project.path }}">{{ project.tagline | safe }}</a></span>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="project-border broider"></div>
  </body>
</html>