---
title: Project Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Reuben Son: software developer, sound artist, and ceramist">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Gaegu&family=Grandiflora+One&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Joan&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Luxurious+Roman&family=Manjari:wght@100;400;700&family=Metal&family=Nova+Cut&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rakkas&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <style>
      h1 {
        font-family: "Ibarra Real Nova" !important;
        font-size: 24px;
      }

      body {
        font-family: Courier New;
        background-color: #f0f0e6;
      }

      .projects-list {
        clear: both;
      }

      .project {
        max-width: 600px;
      }

      .project-item {
        display: flex;
        font-family: Courier New;
        flex-direction: row;
        justify-content: space-between;
        letter-spacing: -.3px;
        position: relative;
        font-size: 14px;
        margin: 20px 0 20px;
      }

      .project-title {
        font-weight: 400;
        padding-right: 5px;
        position: absolute;
        left: 0;
      }

      .project-title a {
        text-decoration: none;
      }

      .project-index {
        font-style: italic;
        padding-left: 5px;
        position: absolute;
        right: 0;
      }

      .project-title, .project-index {
        z-index: 1;
        background-color: #f0f0e6;
        top: -3px;
      }

      .project-line {
        border-bottom: 2px dotted black;
        display: block;
        position: absolute;
        top: 9px;
        width: 100%;
      }

      .project-tagline {
        font-style: italic;
        margin-top: 20px;
        top: 20px;
      }

      .project-tagline a {
        text-decoration: none;
      }

      .project-tagline::after {
        content: '↝';
        margin-left: 5px;
        font-family: math;
        font-size: 18px;
        font-weight: 100;
      }

      li::before {
        display: none;
      }

      .resume-year {
        display: none;
      }
    </style>
  </head>
  <body class="project broider">
    <header>
      <h1><a href="/">{{ title }}</a></h1>
    </header>
    <div class="content">
      {{ content | safe }}
      <h2 class="projects-list-header .josefin-slab">Selected Projects</h2>
      <ul class="projects-list">
      {% for project in projects %}
        <li class="project-item">
          <span class="project-title"><a href="{{ project.path }}">{{ project.title }}</a></span>
          <span class="project-index"><a href="{{ project.path }}">{{ loop.index }}</a></span>
          <span class="project-line"></span>
          <span class="project-tagline"><a href="{{ project.path }}">{{ project.tagline | safe }}</a></span>
        </li>
      {% endfor %}
      </ul>
    </div>
    <ul>
  </body>
</html>