---
title: Project Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    {# <link rel="preload" as="image" href="/public/pocket-vase.jpg"> #}
    {# <link rel="preload" as="image" href="/public/html-review/santa-ana-winds.jpg"> #}
    {# <meta property="og:image" content="https://reubenson.com/public/card_july2024.jpg"> #}
    <meta property="og:image" content="https://reubenson-portfolio.s3.us-east-1.amazonaws.com/assets/portrait_2024.jpg" />
    <meta property="og:type" content="website" />
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    {% include "gtm.njk" %}
    {% if scriptUrl %}
      <script src="{{ scriptUrl | safe }}"></script>
    {% endif %}
    {% if scriptUrl2 %}
      <script src="{{ scriptUrl2 | safe }}"></script>
    {% endif %}
    {% if cssUrl %}
      <link rel="stylesheet" href="{{ cssUrl | safe }}">
    {% endif %}
    {# <script async src="/bundle.js"></script> #}
  </head>
  <body class="project {{ layoutType }}">
    {# <img src="/public/html-review/santa-ana-winds.jpg" alt="" style="position: absolute; width: 1px; height: 1px; opacity: 0; pointer-events: none;" /> #}
    {% include "nav.njk" %}
    <div class="top-spacer"></div>
    <div class="content">
      <header>
        <h1>{{ title | safe }}</h1>
        {%if subtitle %}<p>{{ subtitle | safe }}</p>{% endif %}
      </header>
      {% if not hideMeta %}
      <div class="project-meta">
        {% if year %}<span class="project-year"><span class="project-meta-label">year</span> 
          <span class="project-meta-value">
            {{ year }}
          </span>
        </span>{% endif %}
        {% if media %}
          <span class="project-media">
            <span class="project-meta-label">media</span> 
            <span class="project-meta-value">
              {{ media }}
            </span>
          </span>
          {% if dimensions %}
            <span class="project-dimensions">
              <span class="project-meta-label">dimensions</span> 
              <span class="project-meta-value">
                {{ dimensions | safe }}
              </span>
            </span>
          {% endif %}
        {% elif meta %}
          {% for item in meta %}
            <span class="project-meta-item">
              <span class="project-meta-label">{{ item.label | safe }}</span> 
              <span class="project-meta-value">
                {{ item.value | safe }}
              </span>
            </span>
          {% endfor %}
        {% endif %}
        {% if url %}
          <span class="project-meta-url">
            <span class="project-meta-label">url</span> 
            <span class="project-meta-value">
              <a href="{{ url }}">{{url | replace('https://', '')}}</a>
            </span> 
          </span>
        {% endif %}
        {% if description %}
          <span class="project-description">
            <span class="project-meta-label">description</span> 
            <span class="project-meta-value">
              {{ description }}
            </span>
          </span>
        {% endif %}
      </div>
      {% endif %}
      <div class="content-wrapper {% if noGrid %}no-grid{% endif %}">
        {{ content | safe }}
      </div>

      {% if not hideSeeMore %}
      <section class="project-more">
        <h2>See also</h2>
        <ul>
          {% for project in collections.projects %}
            {% if project.data.title == title %}
              {% for relatedProjectId in project.data.relatedProjects %}
                <li class="related-project">
                  {% for relatedProject in collections.projects %}
                    {% if relatedProject.data.id == relatedProjectId %}
                      <a href="{{ relatedProject.url }}">{{ relatedProject.data.title }}</a>
                    {% endif %}
                  {% endfor %}
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
          {# <li class="related-project all-projects-link">
            <a href="/projects">Selected Projects</a>
          </li> #}
        </ul>
      </section>
      {% endif %}
    </div>
    {% include "chop.njk" %}
    <div class="page-border broider"></div>
  </body>
</html>