---
title: Project Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    {# <meta property="og:image" content="https://reubenson.com/public/card_july2024.jpg"> #}
    <meta property="og:image" content="https://reubenson-portfolio.s3.us-east-1.amazonaws.com/assets/portrait_2024.jpg" />
    <meta property="og:type" content="website" />
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    {% include "gtm.njk" %}
    {% if scriptUrl %}
      <script src="{{ scriptUrl | safe }}"></script>
    {% endif %}
    {% if scriptUrl2 %}
      <script src="{{ scriptUrl2 | safe }}"></script>
    {% endif %}
    {% if cssUrl %}
      <link rel="stylesheet" href="{{ cssUrl | safe }}">
    {% endif %}
    {# <script async src="/bundle.js"></script> #}
  </head>
  <body class="project {{ layoutType }}">
    {% include "toc-button.njk" %}
    {% include "table-of-contents.njk" %}
    <div class="top-spacer"></div>
    <div class="content">
      <header>
        <h1>{{ title }} {% if year %}<span class="project-year">({{ year }})</span>{% endif %}</h1>
        <a href="{{ url }}">{{url}}</a>
      </header>
      <div class="project-meta">
        {% if media %}
          <div class="project-media">
            <strong>Media</strong>: {{ media }}
            {# {% if year %}
              <span class="project-year">| <strong>Year</strong>: {{ year }}</span>
            {% endif %} #}
            {% if dimensions %}
              <span class="project-dimensions">| <strong>Dimensions</strong>: {{ dimensions }}</span>
            {% endif %}
          </div>
        {% endif %}
        
      </div>
      <div class="project-description">
        {{ description }}
      </div>
      <div class="content-wrapper {% if noGrid %}no-grid{% endif %}">
        {{ content | safe }}
      </div>

      {% if not hideSeeMore %}
      <section class="project-more">
        <h2>See also</h2>
        <ul>
          {% for project in projects %}
            {% if project.title == title %}
              {% for relatedProjectId in project.relatedProjects %}
                <li class="related-project">
                  {% for project in projects %}
                    {% if project.id == relatedProjectId %}
                      <a href="{{ project.path }}">{{ project.title }}</a>
                    {% endif %}
                  {% endfor %}
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
          {# <li class="related-project all-projects-link">
            <a href="/projects">Selected Projects</a>
          </li> #}
        </ul>
      </section>
      {% endif %}
    </div>
    <div class="page-border broider"></div>
  </body>
</html>