---
title: Reuben Son
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/png" href="/favicon.png">
    <style type="text/css">
      body {
        font-family: math, serif;
        font-weight: 300;
        letter-spacing: .7px;
        margin: 20px;
        max-width: 728px;
      }

      h1 {
        margin: 0 auto;
        text-align: center;
      }

      h2 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      h3 {
        font-size: 18px;
        margin-bottom: 0
      }

      h4 {
        font-size: 16px;
        margin: 0px;
      }

      a {
        color: blue;
      }

      ul {
        {# list-style: none; #}
        font-size: 14px;
        margin-top: 0;
        padding-left: 5px;
      }

      li {
        list-style-position: inside;
        padding-left: 10px;
      }
      
      li a {
        color: black;
      }

      .resume-contact-list li a {
        text-decoration: none;
      }

      .resume-content {
        li a {
          {# color: blue; #}
        }

        li a::after {
          color: black;
        }
        
        li a::after {
          content: "↝";
          display: inline-block;
          margin-left: 5px;
          {# transform: scaleX(-1); #}
        }
      }

      .resume-item-date {
        float: right;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
      }

      .resume-contact-list {
        border-bottom: solid black 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 12px;
        justify-content: space-between;
        margin-bottom: 2px;
        padding: 0;
      }

      .resume-contact-list li {
        flex-basis: fit-content;
        list-style: none;
        padding-left: 0;
      }

      @media (min-width: 1024px) {
        body {
          margin: 20px auto;
        }
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');
    </script>
  </head>
  <body>
    <ul class="resume-contact-list">
      <li>reubenson@gmail.com</li>
      <li>(206) 245-8892</li>
      <li><a href="https://reubenson.com" target="_blank">https://reubenson.com</a></li>
      <li><a href="https://github.com/reubenson/" target="_blank">https://github.com/reubenson/</a></li>
    </ul>
    <section class="resume-content">
      {{ content | safe }}

      {# {% if includeBiography %} #}
        {# {% renderFile "./src/_includes/short-bio.md" %}   #}
      {# {% endif %} #}
      {% if includeProjects %}
        {% renderFile "./src/_includes/resume/selected_projects.md" %}
      {% endif %}
      {% if includePerformances %}
        {% renderFile "./src/_includes/resume/selected_performances.md" %}
      {% endif %}
      {% if includeDiscography %}
        {% renderFile "./src/_includes/resume/selected_discography.md" %}
      {% endif %}
      {% if includeEmployment %}
        {% renderFile "./src/_includes/resume/employment.md" %}  
      {% endif %}
      {% if includeResidencies %}
        {% renderFile "./src/_includes/resume/residencies.md" %}
      {% endif %}
      {% if includeEducation %}
        {% renderFile "./src/_includes/resume/education.md" %}  
      {% endif %}
      {% if includeEngProjects %}
        {% renderFile "./src/_includes/resume/eng-projects.md" %}  
      {% endif %}
    </section>
  </body>
</html>