---
title: Reuben Son - application to Akademie Schloss Solitude Web Residency No. 19
url: https://www.akademie-solitude.de/de/web-residencies/call-for-web-residencies-no-19-algorithmic-poetry/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/png" href="/favicon.png">
    <style type="text/css">
      body {
        font-family: Georgia, serif;
        font-weight: 300;
        letter-spacing: -.3px;
        margin: 40px auto;
        padding: 0 40px;
        max-width: 600px;
      }

      h1 {
        font-weight: 500;
        margin: 40px auto 30px;
        position: relative;
        text-align: center;
      }

      h2 {
        border-bottom: 2px solid black;
      }

      h2, h3 {
        font-weight: 300;
      }

      p {
        line-height: 1.3em;
      }

      .banner {
        margin-top: -15px;
        text-align: center;
        font-size: 40px;
      }
      
      .banner-background {
        background-color: green;
        background-image: url(https://reubenson-portfolio.s3.us-east-1.amazonaws.com/assets/frog03.gif);
        background-size: cover;
        background-position: 50% 75%;
        opacity: 0.7;
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        filter: blur(15px);
        z-index: -1;
      }

      .relative {
        position: relative;
        display: inline;
      }

      .header-frog {
        position: absolute;
        bottom: 0;
        left: -9px;
        font-size: 8px;
      }

      a {
        color: black;
      }

      ul {
        list-style: none;
        padding-left: 0px;
      }

      li {
        padding: 10px;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120208217-1');
    </script>
  </head>
  <body>
    <div class="banner">
      ḟԻ✺❡ ḉℏ✺Ի<div class="relative"><span class="header-frog">𓆏</span></div>ṳṧ
      <div class="banner-background"></div>
    </div>
    <h1>
      Frog Chorus : Algorithms Made Audible
    </h1>
    <h2>Project Description</h2>
    {% renderFile "./src/_includes/frog-chorus-brief.md" %}
    <h2>Project Format</h2>
      <p>
        I wish to present this project in two main parts: (1) a web-app, which may be self-hosted or embedded onto an Akademie Solitude webpage; and (2) an essay, which contextualizes and historicizes the project. Additionally, I will be living in Berlin in August and September of this year, and would enjoy the option of leading performances in Germany using this project.
      </p>
    <h2>Bio</h2>
    {% renderFile "./src/_includes/short-bio.md" %}
    <section>
      <h2>Portfolio</h2>
      Permalink: <a href="https://reubenson.com/portfolio">https://reubenson.com/portfolio</a>
      {% renderFile "./src/_includes/residencies.md" %}
      {% renderFile "./src/_includes/selected_projects.md" %}
      {% renderFile "./src/_includes/selected_performances.md" %}
      {% renderFile "./src/_includes/selected_discography.md" %}
    </section>
  </body>
</html>