---
title: Shop Title
description: Shop description
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reuben Son | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="reuben son, ceramics, son ceramics">
    {# <link rel="stylesheet" href="/bundle.css"> #}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    <meta property="og:image" content="{{ socialImg }}">
    {% include "gtm.njk" %}
    <script async src="/public/js/shopify-init.js" defer></script>
  </head>
  <body class="shop-page {{ layoutType }}">
    <div class="top-spacer"></div>
    {% include "toc-button.njk" %}
    {% include "table-of-contents.njk" %}
    <div class="content">
      <header>
        <h1>{{ title }}</h1>
        <a href="{{ url }}">{{url}}</a>
      </header>
      <div class="content-wrapper">
        <div class="shop-top">
          {{ content | safe }}
        </div>
        <p class="newsletter-signup-intro">
          If you'd like to keep up to date with updates, sign up for my mailing list below:
        </p>
        {% include "newsletter-signup.njk" %}
        {# <div id="shop-closed" class="hidden">
          <p>The shop is currently sold out — If you'd like to notified when new items are available again, sign up for the mailing list above!</p>
        </div> #}
        <section>
          {# <h2>Available</h2> #}
          <div class="shop-listings" id="product-listings" data-product-ids="{{ ceramics | join(',') }}"></div>
        </section>
        <section>
          {# <h2>Sold Out</h2> #}
          <div class="shop-listings" id="product-sold-out-listings" data-product-ids="{{ ceramicsSoldOut | join(',') }}"></div>
        </section>
      </div>
    </div>
    <div class="page-border broider"></div>
  </body>
</html>