---
title: Shop Title
description: Shop description
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reuben Son | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="reuben son, nyc, software engineer, private chronology, electronic music, ceramics">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% include "open-font.njk" %}
    {% include "broider.njk" %}
    <meta property="og:image" content="{{ socialImg }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120208217-1"></script>
    {# <script async src="https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"></script> #}
    <script async src="/public/js/shopify-init.js"></script>
  </head>
  <body class="shop-page {{ layoutType }}">
    <div class="top-spacer"></div>
    {% include "toc-button.njk" %}
    {% include "table-of-contents.njk" %}
    <div class="content">
      <header>
        <h1>{{ title }}</h1>
        <a href="{{ url }}">{{url}}</a>
      </header>
      <div class="content-wrapper">
        {{ content | safe }}
        <div id="shop-closed" class="hidden">
          <p>The shop is currently sold out — If you'd like to notified when new items are available again, sign up for the mailing list above!</p>
        </div>
        <div id="product-listings" data-product-ids="{{ ceramics | join(',') }}"></div>
      </div>

      <script type="text/javascript">
      
      </script>

    </div>
    <div class="project-border broider"></div>
  </body>
</html>