/*Modified from the MT default blog.css by Reuben Son*/

html,body,div,
ul,ol,li,dl,dt,dd,
form,input,textarea,
h1,h2,h3,h4,code,p,blockquote,hr,
th,td,a,.paypal {
font-family: 'Open Sans', "Helvetica Neue", sans-serif, Georgia;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4, .entry-title {
    font-size: 12pt;
    font-weight: normal;
}

p, .entry-body, .page-body { font-size: 85% }
h1, h4 { font-size: 10pt; }
#footer-content { font-size:80% }

p { font-weight: 400; font-size:10pt;text-align:justify;}

/*img { border:none }*/
/*form { display: relative }*/
:link, :visited {
    text-decoration: none;
    color:#000;
    /*font-weight: bold; */
    font-weight:600;
  }
a:hover { color:red }
a {font-size: 100%; font-weight:400;}

input, textarea {
  -webkit-appearance: none;
}

/* Utilities ----------------------------------------------------------------- */

.pkg:after, #content:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
.pkg, #content { display: block; }
/* no ie mac \*/

* html .pkg, * html #content { height: 1%; }
.pkg, #content { display: block; }
/* */

.inline { display: inline; }
.hidden { display: none; }

/* Layout ----------------------------------------------------------------- */

p {
  margin-bottom: 1em;
  /*display: inline;*/
  position:relative;
  font-size:100%;
}

#container {
    width: 88%;
    max-width: 1600px;
    min-width: 1000px;
    position:relative;
    padding-left:10px;
    padding-right:10px;
    margin: 60px auto 0px auto; }

#header, #content, #alpha, #beta, #footer {
    position: center; }

iframe {
  /*position:relative;*/
  margin: 8px 5px 1px auto;
  /*margin:2px 0px 0  0;*/
  /*padding: 0 20px;*/
  /*width: 95%;*/
  /*position:center;*/
}

#alpha {
  width: 64%;
  max-width: 1000px;
  bottom: 10px;
  display: inline;
  float: left;
  text-align:left;
  margin: 0px auto 0px auto;
  padding: 0 20px;
}

#stream {
  position:relative;
  width: 100%%;
  margin: 6px auto;
  display:inline;
}

#alpha_two {
  position:relative;
  font-size:10pt;
  margin: 0px auto 6px auto;
  /*top: -20px;*/
  text-align:center;
  width:100%;
  height: 30px;
  float:left;
  z-index: 4;
  display:inline;
}

#beta {
  top: 0px;
  right:0px;
  width: 28%;
  min-width: 300px;
  /*margin: 0px 20px;*/
  /*margin-right:20px;*/
  position:absolute;
  /*position:right;*/
  display:inline;
  /*left: 67%;*/
  /*float:right;*/
  text-align: left;
  padding:0 20px;
}

#header {
    position:fixed;
    top:0px;
    right:0px;
    width: 100%;
    background-color: #FFCC00;
    background: rgba(255, 204, 0, 0.6);
    background: rgba(1, 1, 1, 0.6);
    height: 32px;
    z-index: 6; }

#logo img {
    height: 25px;
    float: right;
    padding: 4px;
    border:none;
  }

#content, #footer {
    padding-top: 20px;
    padding-bottom: 20px;}

#bootstrap-carousel {
  /*margin-top: -10px;*/
  /*margin: -20px auto 0 auto;*/
  width:100%;
  float:left;
  position:relative;
}

#qcvg-carousel {
  margin: 0px 10px 0px auto;
  width: 50%;
  /*display:inline;*/
  position:relative;
  float:left;
}

p#qcvg-text {
  position:relative;
  /*margin-left:1%;*/
  display:inline;
  /*left:50%;*/
  text-align: left;
  /*float:left;*/
}

p#bio {
  font-size:10pt;
  position:relative;
  /*margin-top:10px;*/
}

.pbox{
  margin-top:20px;
}

.page-body, .entry-body {
  position:relative;
  width:100%;
  /*margin-top:-20px;*/
  /*margin-bottom: 10px; */
  margin-top: 7px;
  display:inline;
}

.entry-content, .asset-content {
  margin-top:7px;
}

.widget-about-this-page{
    font-weight: 400;
    font-size:11pt;
  }

.widget-bar, #footer-bar, #page-bar {
    margin-bottom: 4px;
    height: 2px;
    width: 100%;
    background-color: black;
    float: left;
  }

#footer-bar { clear: both; }

#page-bar { margin-bottom:6px; }

form {
  display:inline;
/*  position:center;
*/  margin:0 20px;
}

/* Content  */

.entry-meta { position:relative;  display:inline;}

.content-nav { text-align: center; }


#page-title, .widget-title, .entry-title {
  font-size: 11pt;
  letter-spacing: 3px;
  text-transform: uppercase; }

.widget-title {
  font-style: italic;
}

.widget-subtitle {
  font-size: 10pt;
  font-style: italic;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top:10px;
}

.published {
  /*visibility: hidden;*/
  position:relative;
  font-size:9pt;
  letter-spacing: 2px;
  bottom:-4px;
  float: right;
}

/* Widgets */

.widget {
	margin-top: 10px;
    position: relative;
    overflow: hidden;
    width: 100%; }


.widget-content {}
  /*margin-top:10px;*/
  /*letter-spacing: 1.5px;*/
  /*font-weight: 800; */
  /*font-size: 12pt;*/
/* } */
/*.widget-content :link { font-weight:800italic; }*/

.widget { padding-bottom: 15px; }

.widget-items{
  position:relative;
  left:4px;
  margin-top:8px;
  /*letter-spacing: 1.5px;*/
  font-weight: 400;
  font-size: 10pt;
}

@media print {
    * {
        position: static ! important;
        overflow: visible ! important;
    }
}

/* Coloration */

body{
    /*background-color: #f3f3f3;*/
    background-image: -webkit-linear-gradient(left, #f3f3f3 15%, #fbfbfb 55%, #fbfbfb 65%, #f3f3f3 100%);
    background-image: -moz-linear-gradient(left, #f3f3f3 0%, #fbfbfb 15%, #fbfbfb 85%, #f3f3f3 100%);
    background-image: -o-linear-gradient(left, #f3f3f3 0%, #fbfbfb 15%, #fbfbfb 85%, #f3f3f3 100%);
    background-image: linear-gradient(left, #f3f3f3 0%, #fbfbfb 15%, #fbfbfb 85%, #f3f3f3 100%);
    z-index: 2;
}
