.homepage {
  background-color: #f0f0e6;
  font-weight: 100;
  margin: 0;
  width: 100%;

  .cards {
    // font-family: Courier New;
    font-family: 'Ibarra Real Nova', serif;
    max-width: 450px;
  }

  .project-border,
  .broider {
    height: calc(100% - 20px);
    width: calc(100vw - 20px);
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: 10px;
  }

  .project-border {
    height: calc(100% - 38px);
    width: calc(100vw - 38px);
    margin: 19px;
  }

  .cards .content {
    margin: auto;
    max-width: 600px;
    position: relative;
    overflow-x: hidden;
    padding: 0 20px;
  }

  .cards p {
    line-height: 1.3em;
    text-align: left;
    margin: 0 auto;
  }


  .cards h1 a,
  h2 a {
    color: black;
    text-decoration: none;
  }

  .cards ul {
    padding: 0;
  }

  .cards li {
    font-weight: 100;
    font-size: 13px;
    list-style: none;
    margin: 25px auto;
    text-align: left;
    text-decoration: none;
  }

  .cards li::before {
    font-size: 12px;
    font-family: serif;
    // font-family: monospace;
    position: absolute;
  }

  //   {# card styling #}
  .cards {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: calc(100% - 60px);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.95;
  }

  .toc-button.open~.cards {
    display: none;
  }

  .card-container {
    background-color: #f0f0e6;
    border: solid black 1px;
    border-radius: 2px;
    aspect-ratio: 8/5;
    contain: strict;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.6);
  }

  .card {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
  }

  .card-container:nth-child(2) {
    margin-top: 40px;
  }

  .card .container {
    display: flex;
    align-items: center;
  }

  .card header {
    width: 100%;
  }

  .card.front header {
    font-size: 14px;
  }

  .card.front h1 a {
    visibility: hidden;
    display: none;
  }

  .card .container {
    font-size: 13px;
    // letter-spacing: -1px;
    line-height: 15px;
    margin: 20px;
    padding: 8px;
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .container-background {
    border: solid black 1px;
    position: absolute;
    height: calc(100% - 20px);
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 2px;
    z-index: -1;
  }

  .card p {
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  .card.front p {
    text-align: center;
  }

  .container a {
    color: black;
    text-decoration: none;
  }

  .container a {
    border-bottom: solid grey 1px;
  }

  .card ul {
    margin-top: 0;
  }

  .card li {
    line-height: 15px;
    margin: 0px 0 6px 0;
  }

  // .card .project-description {
  //   // font-style: italic;
  // }

  .card-quote {
    display: block;
    // font-style: italic;
    margin: auto;
    text-align: center;
    width: 177px;
  }

  .card-quote {
    width: 130px;
  }

  .card-quote p {
    margin: auto;
  }

  .card-quote-header {
    // font-style: normal;
    font-style: italic;
    left: 0;
    letter-spacing: normal;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    font-size: 14px;
    // text-transform: uppercase;
  }

  p.card-quote-footer {
    bottom: 0;
    font-style: normal;
    left: 0;
    position: absolute;
    text-align: left;
    font-size: 12px;
  }

  .left-arrow,
  .right-arrow {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 10;
    font-style: normal;
    background: #f0f0e6;
    width: 24px;
    height: 24px;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    transform: rotate(45deg);
    border-bottom: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-arrow span {
    transform: rotate(-45deg);
    display: block;
    opacity: 0.8;
  }

  .card .card-header {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    display: inline;
    text-align: center;
    // font-size: 14px;
    // margin-top: 1em;

    p {
      margin: 6px auto !important;
      display: flex !important;
      width: fit-content !important;
      justify-content: center;
      gap: 14px;
    }

    a:not(:last-child)::after {
      content: '✺';
      position: absolute;
      position: absolute;
      margin-left: 5px;
      font-size: 5px;
      // margin: 0 0.2em;
    }
  }

  // .card .card-header 

  // .card .card-header p {
  //   display: inline-block;
  //   font-size: 12px;
  //   padding: 5px;
  //   background: #f0f0e6;
  //   text-align: center;
  //   width: auto;
  // }

  .card .card-header a {
    color: black;
    text-decoration: none;
  }

  .cards .card-footer {
    display: inline;
    position: absolute;
    bottom: -2px;
    left: 0;
    margin: auto;
    right: 0;
    text-align: center;
    z-index: 1;
  }

  .cards .card-footer p,
  .card .card-header p {
    background: #f0f0e6;
    font-size: 10px;
    // letter-spacing: -.5px;
    display: inline-block;
    margin: 6px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: auto;
    text-transform: lowercase;
    font-family: 'Courier New';
    // font-family: 'Ibarra Real Nova', serif;
  }

  .cards .glyph {
    bottom: 27px;
    line-height: 40px;
    right: 16px;
    margin: auto;
    position: absolute;
    height: 40px;
    z-index: 1;
  }

  .cards .glyph a {
    text-decoration: none;
    color: #003000;
  }

  .cards .glyph img {
    height: 100%;
    display: inline-block;
    background: #003000;
    -webkit-mask: url("/public/transparent.png") center/contain;
    mask: url("/public/transparent.png") center/contain;
  }

  .cards .hidden {
    display: none;
    visibility: hidden;
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  .hover-image {
    display: none;
    position: fixed;
    z-index: 100;
    max-width: 260px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 4px;
    pointer-events: none;
    background: #f0f0e6;
    left: 480px;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
  }

  /* styling for promoting card from homepage */
  .promo {

    .card-container:nth-child(1),
    h1,
    .right-arrow,
    .card-header {
      display: none;
    }

    .card-container {
      height: 450px;
    }

    .card {
      height: 430px;
    }

    .container-background {
      width: 100%;
      left: -10px;
    }
  }

  .project-border {
    background-image: url('/public/riso-maine.png');
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-height: 550px) {
    .cards {
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  @media screen and (min-width: 768px) {
    .card-container {
      border: solid black 1px;
    }

    .card-quote:hover .hover-image {
      &:not(.hidden) {
        display: block;
      }
    }
  }
}