@import '../shared';

.shop-page {

  header {
    @include page-header;
    position: sticky;
    top: 0;
    background-color: #f0f0e6;
    z-index: 1;
    max-width: calc(100vw - 40px);
    padding-top: 10px;
    padding: 6px 0;
    // margin-top: -19px;
    
    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: auto auto;
      padding: 10px;
      width: 100%;
      max-width: 720px;
      position: relative;
      font-size: 20px;

      a {
        text-decoration: none;
        font-weight: normal;
      }
      
      a.selected {
        font-weight: bold;
      }
    }
  }

  .content {
    // padding-top: 0;
    scroll-padding-top: 60px;

  }

  .content .shop-collection-header {
    @include content-heading;
    margin: 10px auto;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    padding: 10px 0;
    // scroll-padding-top: 160px;
  }

  .collection-description {
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0 20px 0;
    color: #333;
  }

  .collection-image {
    margin: 20px 0;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .shop-top {
    margin-bottom: 20px;
  }

  .shop-top,
  .shop-collection {
    @include grid-container;
  }

  .content-wrapper {
    display: block;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  .shop-listings {
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    iframe {
      border-radius: 2px;
      flex: 1 0 40%;
      min-width: 200px;
    }
  }

  .newsletter-signup-intro {
    margin-top: 20px;
  }

  .image-sequence {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 2px;
    width: 100%;
    
    .sequence-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // opacity: 0.1;
      transition: opacity 3.5s linear;
      filter: brightness(1) contrast(1.0);
    }
  }

  @media screen and (min-width: 720px) {
    .shop-listings,
    .image-sequence {
      width: calc(100vw - 80px) !important;
      margin-left: calc((720px - 100vw + 80px)/2) !important;
    }
  }

  @media screen and (min-width: 1180px) {
    .image-sequence {
      width: 1024px !important;
      margin-left: calc((720px - 1024px) / 2) !important;
    }
  }

}