body {
  font-family: 'Ibarra Real Nova', monospace;
  font-weight: 400;
  background: black;
  margin: auto;
  padding: 20px;
}

.poems-header {
  color: snow;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:auto;
  z-index:10000;

  h1, h2 {
    display: inline-block;
    font-size: 24px;
    margin: 0;
  }
}

header button {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  font-family: 'Ibarra Real Nova', monospace;
  background: transparent;
  color: snow;
  padding: 20px;
  border: none;
}

nav {
  position: fixed;
  margin: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  left: 0;
  right: 0;
}

nav button {
  flex: 1;
  font-size: 18px;
  border: none;
  background: transparent;
  color: snow;
  font-weight: 100;
  padding: 10px;
  font-style: italic;
  font-family: 'Ibarra Real Nova', monospace;
}

nav button.active {
  /* text-decoration: underline; */
  border-bottom: solid snow 2px;
}

.content-wrapper {
  margin-top: 200px;
}

p {
  color: snow;
}

.poems-description {
  font-size: 18px;
  text-align: justify;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

body.now-viewing {
  background: black;

  .poems-description {
    display: none;
  }

  #poems-container {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
  }
}

#poems-container {
  background: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

svg {
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

.poem-container {
  opacity: 0;

  &.selected-part {
    opacity: 1;
  }
}

.poem {
  width: 100vw;
  height: auto;
  border: none;
  margin: auto;
}


#poems-container.part-1 {
  background: black;
  /* width: calc(100% + 30px); */
  /* height: calc(100% + 30px); */
  top: -15px;
  left: -15px;

  .poem-container {
    background: black;
    display: flex;
    width: 100%;

    h3 {
      text-align: left;
      border-bottom: solid snow 2px;
      padding-bottom: 10px;
    }

    h3, p {
      font-size: 24px;
    }

    p {
      text-align: right;
      margin: 0 0 0 auto;
    }

    .poem {
      color: snow;
      width: 550px;
      padding: 20px;
      max-width: calc(100% - 40px);
      display: none;
    }
    
    .poem.active {
      display: block;
      filter: blur(0px) contrast(1) url(#wind-filter);
    }

    .line-break {
      display: block;
    }
  }
}

#poems-container.part-2 {
  width: 80%;
  height: 80%;
  filter: blur(0px) contrast(3) brightness(0.7);
  background: snow;
  /* border-radius: 40px; */
  transition: 240s filter linear, 60s opacity linear;
  opacity: 0;

  &.has-started {
    filter: blur(4px) contrast(50) brightness(0.7);
    opacity: 1;

    canvas {
      opacity: 1;
    }

    .poem-container .poem p {
      color: black;
      background: snow;
      /* opacity: 1; */
      filter: brightness(1);
    }
    
  }

  canvas {
    display: block;
    opacity: 1.0;
    width: 100%;
    height: 100%;
    filter: url(#customFilter);
    /* filter: blur(16px) contrast(2); */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;
    transition: 120s opacity linear;
    /* transition: 120s filter linear; */
    /* filter: blur(15px) contrast(1); */
    /* display: none; */
  }

  .poem-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* filter: url(#customFilter); */
    position: absolute;
  
    .poem {
      /* border-radius: 40px; */
      height: calc(100vh - 100px);
      width: calc(100vw - 100px);
      overflow: hidden;
      opacity: 0;
      /* transition: 12s opacity linear; */
      border: none !important;
      width: 100%;
      height: 100%;
      text-align: center !important;
    }

    &.selected-part {
      .poem {
        display: block;
        opacity: 1.0;
        /* display: none; */
      }
    }

    .poem p {
      color: snow;
      background: black;
      /* color: black;
      background: snow; */
      line-break: anywhere;
      letter-spacing: -0.09em;
      line-height: .42em;
      /* letter-spacing: 0.01em;
      line-height: .51em; */
      font-size: 35px;
      filter: brightness(0.1);
      margin: -10px auto auto;
      text-transform: lowercase;
      transition: 440s color linear, 440s background linear, 15s filter linear;
    }
  }
}


#part-2 {
  position: absolute;
}

canvas.front {
  z-index: 1000 !important;
}

.three-sheets-to-the-wind {
  display: inline-block;
  height: 80vw;
}

.three-sheets-to-the-wind p {
  text-align: center !important;
  /* font-size: 48px !important; */
}

.three-sheets-to-the-wind p > span {
  display: inline-block;
  position: relative;
  transform-origin: center;
}

@media screen and (min-width: 768px) {
  #poems-container.part-1 .poem-container {
    h3, p {
      font-size: 32px;
    }
  }
}
